---
---
@import "minima";

body .site-header {
    border-top: 0px;
}
.site-title::before {
    content: url("mit_logo_std_rgb_black.svg") !important;
    display: inline-block;
    position: relative;
    width: 45px;
    top: 5px;
}
img[alt=photo] { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 350px;
    margin-bottom: 10px;
}
